@import 'libs/bootstrap-reboot.min';
@import 'base/variables';
@import 'base/mixins';
@import 'base/fonts';

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Bender';
    box-sizing: border-box;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}
.colored-angle {
    color: rgb(86, 214, 129);
    text-shadow: 0px 0px 1px black;
}

// import blocks

@import 'blocks/upheader';
@import 'blocks/title';
@import 'blocks/header';
@import 'blocks/tech';
@import 'base/adaptive';
@import 'blocks/about';