.aside {
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   width: 20vw;
   z-index: 1;
   position: relative;
   .menu {
      &__list {
         list-style-type: none;
         font-size: 40px;
         text-transform: uppercase;
         font-weight: 700;
         text-shadow: 0 0 5px black;
         filter: none;
      }
   }
}

.menu-bg {
   background-color: #000;
   opacity: 0.7;
   height: 100%;
   position: absolute;
   width: 20vw;
   z-index: -1;
}