a {
   color: #fff;
   text-decoration: none;
   &:hover {
      color: #fff;
      text-decoration: none;
   }
}

.header {
   color: #fff;
   height: 100vh;
   width: 100%;
   background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('../../img/header__bg.jpg') center (center/cover) no-repeat;
   &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin: 0 auto;
      height: 50vh;
      margin-top: 100px;
   }
   &__myname {
      text-shadow: 0px 0px 5px black;
      position: relative;
      right: 430px;
      top: 25px;
      z-index: 0;
      font-weight: 100;
      transition: all 1s;
      &:before {
         content: "";
         display: inline-block;
         @include brand-circle(36px, $main-color);
         position: relative;
         top: 10px;
         left: 18px;
         z-index: -1;
      }
   }
   &__button {
      width: 300px;
      height: 40px;
      height: 45px;
      background-color: $main-color;
      color: #fff;
      font-weight: 300;
      font-size: 18px;
      letter-spacing: 1px;
      text-decoration: none;
      box-shadow: 2px 2px 15px black;
      text-shadow: 1px 1px 2px black;
      transition: all 0.5s;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      &:hover {
         transform: scale(1.05);
         text-decoration: none;
         color: #fff;
      }
   }
   &__title {
      margin-bottom: 30px;
      text-shadow: 2px 2px 15px black;
      font-weight: 300;
      font-size: 110px;
      line-height: 110px;
      transition: all 1s;
   }
}