.upheader {
   height: 94px;
   position: relative;
   left: 50%;
   transform: translateX(-50%);
   max-width: 1140px;
   z-index: 5;
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-size: 18px;
   
   &__contacts {
      
   }
   &__email {
      text-align: center;
   }
   &__phone {
      text-align: center;
   }
   &__phone-link {

   }

   // ! smm img(svg) styles IN HTML

   &__smm {
      width: 136px;
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
   &__smm-link {
      
   }
}